body{font-family: Raleway;box-sizing: border-box;}
.carousel-item{background-color: #333;height: 91.9vh;}
footer{position: fixed;bottom:0;width:100%;left:0;background: #28a745;}
footer .footer-copyright{color:white;}
.countdown{background: #f8f9fa !important;padding:7rem 0px;}
button[data-target="#remindme"]{border:1px solid #333;}